.flex-item {
    flex: 1;
}

.flex-no-grow {
    flex-grow: 0;
}

.v-color-orange {
    color: $color-orange;
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal;
}

//Animate.css
%animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

%fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }