@font-face {
	font-family: 'vpd8-icons';
	src:
	url('../../fonts/vpd8-icons.ttf?j3u8jw') format('truetype'),
	url('../../fonts/vpd8-icons.woff?j3u8jw') format('woff'),
	url('../../fonts/vpd8-icons.svg?j3u8jw#vpd8-icons') format('svg');
	font-weight: normal;
	font-style: naormal;
}
  
%vpicon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'vpd8-icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

%vpicon__down {
	content: "\e900";
}
  
%vpicon__arrow-right {
	content: "\e901";
}

.vpicon__hamburger:before {
	content: "\e902";
}
.vpicon__search:before {
	content: "\e903";
}
.vpicon__up:before,
%vpicon__up {
	content: "\e904";
}

.vpicon__accessibility:before {
	content: "\e905";
}

.vpicon {
	@extend %vpicon;

	&__down:before {
		@extend %vpicon__down;
	}

	&__arrow-right:before {
		@extend %vpicon__arrow-right;;
	}
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}