@font-face {
  font-family: 'vpd8-icons';
  src:
    url('fonts/vpd8-icons.ttf?g3tqs7') format('truetype'),
    url('fonts/vpd8-icons.woff?g3tqs7') format('woff'),
    url('fonts/vpd8-icons.svg?g3tqs7#vpd8-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="vpicon"], [class*=" vpicon"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vpd8-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vpiconicon__up:before {
  content: "\e904";
}
.vpiconicon_hamburger:before {
  content: "\e902";
}
.vpiconicon_search:before {
  content: "\e903";
}
.vpiconicon_down:before {
  content: "\e900";
}
.vpiconicon_arrow-right:before {
  content: "\e901";
}
