.btn {
    border-radius: 3px;
}

.btn-lg {
    padding: .75rem 1rem;
    @include mq($menu-breakpoint) {
        padding: .9rem 1.5rem;
    }
}

.v-btn-primary {
    background-color: $color-primary;
    color: #FFF;
    font-weight: bold;
    font-size: $font-size;

    &:hover {
        opacity: .9;
        color: #FFF;
        background-color: $color-primary-hover;
    }

    .vpicon__arrow-right {
        font-size: $font-size-small;
        margin-left: .5rem;
    }

    &--outline {
        border: 2px solid white;
        transition: background-color .3s;

        &:hover {
            background-color: $color-primary-hover;
        }
    }

    &--small {
        font-size: $font-size-small;
        font-weight: normal;
        padding: .25rem .5rem;
    }
}

.navbar-toggler {
    color: $color-primary;
    padding-left: .5rem;
    padding-right: .5rem;
    &.collapsed {
        color: #767676;
    }

    &[data-target="#navbarCollapse"] {
        margin-right: -.5rem;

        // Mobile menu button triangle
        &:not(.collapsed):after {
            content: ' ';
            position: absolute;
            bottom: 0;
            right: 1.25rem; // calculated right padding for positioning triangle.
            pointer-events: none;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 16px 16px;
            border-color: transparent transparent $color-primary transparent;
            
        }
    }


    i {
        font-size: 5vw;
        &.vpicon__search {
            font-size: 6vw;
        }

        @include mq($screen-md) {
            font-size: 1.75rem;
            &.vpicon__search {
                font-size: 2rem;
            }
        }
    }
}


