.v-webform {
    margin-top: $font-size; // Margin for first form-group floating label

    .v-form-group {
        position: relative;
        margin-bottom: 2rem;
    
        &__label {
            font-size: $font-size-small;
            color: $color-grey-dark;
            
            &--float {
                position: absolute;
                opacity: 0;
                top: 0;
                cursor: text;
            }
        }
    }
    
    .form-control {
        padding-left: 0;
        border: none;
        border-radius: 0;
        background-color: transparent;
        -webkit-box-shadow: 0 2px 0 -1px #bbbbbb;
        box-shadow: 0 2px 0 -1px #bbbbbb;
        transition: none; //overrides bootstrap
        transition: box-shadow .3s;
        &:focus:invalid {
            border: none;
            box-shadow: 0 2px 0 0 #d50000;
        }
        &:focus:required:valid {
            border: none;
            -webkit-box-shadow: 0 3px 0 -1px #00b500;
            box-shadow: 0 3px 0 -1px #00b500;
        }
        &:required:valid,
        &:valid {
            border: none;
            box-shadow: 0 1px 0 0 #bbbbbb;
        }
        &:focus {
            border-color: transparent;
            background-color: transparent;
            -webkit-box-shadow: 0 3px 0 -1px $color-primary;
            box-shadow: 0 3px 0 -1px $color-primary;
    
            // Activate floating label
            + .v-form-group__label--float {
                transition: top .3s, opacity .3s;
                top: -#{$font-size};
                opacity: 1;
                cursor: default;
            }
        }
    }

    select.form-control {
        color: $color-grey-dark;

        option {
            color: $font-color;
        }
    }
    
    .form-check-input {
        margin-top: .45rem;
    }

    .form-check-inline .form-check-input {
        margin-top: 0;
    }
}