.v-news-teaser {
    &__title {
        font-size: $font-size-3;
        color: $font-color;

        a {
            color: inherit;
            &:hover,
            &:active {
                text-decoration: none;
            }
        }

        small {
            color: $color-orange;
        }
    }

    &__date {
        color: $color-dark-1;
        font-size: $font-size-smaller;
        margin-bottom: 1.75rem;
    }

    &__image {
        max-width: 100%;
        margin-bottom: 1.5rem;

        @include mq($screen-lg) {
            float: right;
            width: 300px;
            margin: 0 0 2rem 2rem; 
            height: auto;
        }
    }

    &__read-more {
        @include mq($screen-lg) {
            margin-top: 2rem;
        }
    }
}