.v-main-card {
    border: none;
    padding: $padding-md $padding-xs;
    margin-bottom: $padding-xs;
    font-size: $font-size-smaller;
    @include mq($screen-md) {
        padding: $padding-md;
        margin-bottom: $padding-md;
    }
    @include mq($screen-lg) {
        padding: 3rem $padding-lg;
        font-size: $font-size;
    }

    &--bg-grey {
        background-color: $color-grey !important; // important is needed here, sorry
    }
    &--bg-white {
        background-color: #fff !important;
    }

    > *:last-child {
        margin-bottom: .5rem;
    }

    .v-btn-primary {
        margin-top: 1.5rem;
    }

    .v-section--light & {
        background-color: $color-grey;
    }

    h4 {
        font-size: 1.4rem;
        @include mq($menu-breakpoint) {
            font-size: 1.5rem;
        }
    }

    &__date {
        margin-top: -.5rem;
        margin-bottom: 1.5rem;
        font-size: $font-size-smaller;
        color: $color-dark-1;
    }
}