.v-news-list {
    &--front {
        padding: $padding-md 0;
        @include mq($screen-lg) {
            padding: 0 3.25rem;
        }
    }

    &__item {
        margin-bottom: 2rem;
    }

    &__image {
        margin-bottom: .5rem;
        @include mq($screen-sm) {
            float: left;
            margin-bottom: 0;
            margin-right: 1rem;
        }
    }

    &__date {
        font-size: $font-size-small;
        color: $color-dark-1;
        margin-bottom: .25rem;
    }

    &__title {
        margin-bottom: .2rem;
        line-height: 1.45;

        small {
            color: $color-orange;
        }
    }

    &__content {
        font-size: $font-size-smaller;
    }
}