.v-links-list {
    list-style-type: none;
    padding: 0;

    .v-site-nav__sub-menu & {
        margin: 1.5rem 0 3rem;
    }

    .v-event-calendar-list__info &__item {
        padding-left: 2rem;
        margin-bottom: .25rem;
        &:before {
            font-size: .75rem;
        }
    }
}

.v-links-list__item {
    position: relative;
    margin-bottom: .75rem;
    overflow: visible;
    padding-left: 2.5rem;
    word-wrap: break-word;

    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        font-family: 'vpd8-icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e901";
        font-size: $font-size-small;
        left: 0;
        top: 6px;
        position: absolute;
        color: #FF4800;
    }

    // .v-site-nav__sub-menu .v-links-list__item
    .v-site-nav__sub-menu & {
        padding-left: 2rem;
        &:before {
            color: $color-grey-darker;
            content: '\2013';
            top: -.55rem;
            font-size: 2rem;

            @include mq($menu-breakpoint) {
                top: -.75rem;
            }
        }

        a {
            font-size: $font-size-smaller;
        }
    }
}