.v-event-calendar {
    &__head {
        a {
            font-size: $font-size-small;
        }

    }

    &__month {
        padding: 0 1rem;
        font-weight: bold;
    }

    &__filter {
        margin: 1.5rem 0;

        .form-group {
            width: 100%;
            margin-bottom: 1rem;
            &:first-child {
                margin-top: 1rem;
                @include mq($menu-breakpoint) {
                    margin-top: 0;
                }
            }
            @include mq($screen-md) {
                width: auto;
                margin-right: 1rem;
                margin-bottom: 0;
            }
        }

        label {
            font-size: $font-size-smaller;
            margin-right: 1rem;
        }
        
        .custom-select {
            @include mq($screen-md) {
                width: auto;
            }
        }

        .v-btn-primary {
            backround-color: $color-primary;

            &--active,
            &:hover {
                background-color: $color-primary-hover;
            }
        }
    }

    &__filter-collapse-link {
        @include mq($menu-breakpoint) {
            display: none;
        }

        &:not(.collapsed) {
            i:before {
                content: '\e904'; // vpicon__up, when filter is opened.
            }
        }

        i {
            font-size: .5rem;
            margin-left: .25rem;
            font-weight: 900;
            line-height: 1.5;
            vertical-align: middle;
            color: $color-orange;
        }
    }
}

#v-event-calendar__filter-collapse {
    @include mq($menu-breakpoint) {
        display: flex !important;
        padding-top: 0;
    }

    label {
        font-weight: bold;
    }
}