.v-article {

    &__image {
        margin-bottom: 1.5rem;
        @include mq($screen-sm) {
            max-width: 15rem;
            float: right;
            margin-left: 1.5rem;
        }
    }

    &__info {
        margin: 1.75rem 0;
        font-size: $font-size-smaller;
        color: $color-dark-1;
    }

    &__grey-section {
        background: $color-grey;
        padding: 2rem $padding-xs;
        margin: 2rem 0 0;
        word-break: break-word;

        @include mq($screen-lg) {
            padding: 3.75rem;
            margin: 5rem -3.75rem 2rem;
        }

        .v-info-combo p {
            font-size: $font-size-smaller;
        }
    }

    p {
        line-height: 1.7;
        margin-bottom: 2rem; 
    }
}