.v-header-search {
    position: relative;
    &--mobile {
        padding: 1.875rem 1.25rem;
        background-color: $color-primary;

        input {
            border: none;
        }
    }

    &__input {
        width: 100%;
        padding: 0 3rem 0 1rem;
        line-height: 3.2rem;
        border: 2px solid #E0E3E6;
        border-radius: 4px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22px' height='22px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3ctitle%3esearch%3c/title%3e%3cdefs%3e%3c/defs%3e%3cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Artboard' transform='translate(-116.000000, -151.000000)' fill-rule='nonzero' fill='%23666666'%3e%3cpath d='M122.99936,166.707747 L117.353553,172.353553 L116.646447,171.646447 L122.292253,166.00064 C120.866793,164.408294 120,162.305372 120,160 C120,155.029437 124.029437,151 129,151 C133.970563,151 138,155.029437 138,160 C138,164.970563 133.970563,169 129,169 C126.694628,169 124.591706,168.133207 122.99936,166.707747 Z M129,168 C133.418278,168 137,164.418278 137,160 C137,155.581722 133.418278,152 129,152 C124.581722,152 121,155.581722 121,160 C121,164.418278 124.581722,168 129,168 Z' id='search'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 14px center;
        background-size: auto 60%;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #666666;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #666666;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #666666;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #666666;
        }
    }

    &__submit {
        display: none;
    }
}

.search-collapse {

}