.v-link {
    display: inline-block;
}

.v-link--arrow {
    position: relative;
    padding-left: 40px;
    &:before {
        font-family: 'vpd8-icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\e901";
        font-size: $font-size-small;
        left: 0;
        top: 6px;
        position: absolute;
        color: #FF4800;
    }
}

.v-link--arrow-down {
    &:before {
        content: "\e900";
        position: static;
        margin-right: 1.5rem;
        font-size: 10px;
        vertical-align: middle;
        font-weight: bold;
    }

    &:hover:before {
        text-decoration: none;
    }
}