a[target="_blank"]:not(.v-site-nav__link) {
    transition: color .3s;
    &:after {
        font-family: 'Font Awesome\ 5 Free';
        color: $color-orange;
        content: "\f35d";
        margin-left: .5rem;
        font-weight: 900;
        font-size: $font-size-small;
        transition: color .3s;
    }

    &:hover {
        text-decoration: none;
        color: $color-orange;
    }
}