.v-events-card {
    border: none;
    margin-bottom: 1rem;
}

.v-events-card-date {
    display: inline-block;
    position: relative;
    padding: 2rem;
    margin-bottom: 2rem;
    font-family: $font-family-2;
    background-color: $color-light-blue;
    width: 9.5rem;

    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 14px 14px 0 0;
        border-color: #ebf9fa transparent transparent transparent;
    }
}

.v-events-card-date__day {
    font-size: $font-size-4;
    font-weight: 500;
}

.v-events-card-date__month {
    font-size: $font-size-3
}