.v-event-calendar-list {
    &__item {
        padding: $padding-xs 0;
        border-bottom: 1px solid $color-grey;
        &:first-child {
            padding-top: 0;
            @include mq($menu-breakpoint) {
                padding-top: $padding-xs;
            }
        }

        &--open {
            .v-event-calendar-list__teaser {
                display: block;
            }
            .v-event-calendar-list__info {
                display: block;
            }
            .v-event-calendar-list__title {
                margin-bottom: .75rem;
            }
            .v-event-calendar-list__date {
                color: $color-orange;
            }
        }
    }

    &__date {
        display: inline-block;
        font-size: $font-size;
        margin-bottom: .5rem;

        i {
            float: left;
            color: $color-orange;
            margin-right: .75rem;
            font-size: 0.55rem;
            line-height: 1;
            font-weight: 900;
            padding-top: 0.55rem;
        }

        div {
            float: none;
            overflow: hidden;
            line-height: 1.25;
        }
    }

    &__title {
        margin-left: 1.75rem;
        @include mq($menu-breakpoint) {
            margin-left: 0;
        }

        &,
        & a {
            color: $font-color;
            margin-bottom: 0;

            &:hover {
                color: $color-orange;
            }
        }
    }

    &__teaser {
        margin-left: 1.75rem;
        display: none;
        font-size: $font-size-small;
        @extend %animated;
        @extend %fadeIn;
        @include mq($menu-breakpoint) {
            margin-left: 0;
        }
    }

    &__info {
        margin-left: 1.75rem;
        display: none;
        font-size: $font-size-small;
        @extend %animated;
        @extend %fadeIn;
        @include mq($menu-breakpoint) {
            margin-left: 0;
        }
    }
}