.v-main {
    overflow: hidden;
    @include mq($menu-breakpoint) {
        margin-top: -3em; //minus half menu height (54px)
    }

    // overlay animation
    &:after {
        content: '';
        transition: background-color .3s;
    }

    // overlay 
    &.js-has-overlay {
        position: relative;
        
        &:after {
            content: ' ';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0,.2);
        }
    } 
}