.v-sitemap {
    list-style: none;
    padding-left: 0;
    
    > li {  // First level
        font-weight: bold;

        > ul {
            padding-left: 0;
            margin-top: 1rem;
            margin-bottom: 3rem;
        }
        
        li {  // Other levels
            position: relative;
            font-weight: normal;
            padding-left: 2rem;
            &:before { // Icon
                @extend %vpicon;
                position: absolute;
                left: 0;
                top: 0;
                font-size: $font-size-small;
                color: $color-grey-darker;
                content: '\2013';
                font-size: 2rem;
                line-height: 0.9rem;
            }

            li {
                font-size: $font-size-smaller;
            }
        }
    }

    

    ul {
        padding-left: 2rem;
        margin-bottom: 1rem;
        list-style: none;
    }
}