.v-lang-switcher {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    @include mq($menu-breakpoint, max) {
        padding: 1rem 0;
        &--open {
            .v-lang-switcher__item {
                display: list-item;
            }
        }
    } 

    &.collapsing {
        -webkit-transition: none;
        transition: none;
        display: none;
    }
}

.v-lang-switcher__item {
    display: list-item;
    line-height: 2.5rem;
    font-size: $font-size-small;
    &:not(&--active) {
        animation-name: fadeInLeft; // animate.css
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    &:before {
        @extend %vpicon;
        @extend %vpicon__down;
        width: 1rem;
        font-size: .5rem;
        color: transparent;
        margin-right: .75rem;
        font-weight: bold;
        vertical-align: middle;
    }
    @include mq($menu-breakpoint) {
        display: inline-block;
        margin-right: 1em;
        line-height: 3.5rem;
        border-bottom: 2px solid transparent;
        &:before {
            content: none;
        }
    }
    &--active {
        display: none;
        &:before {
            color: $color-orange;
            
        }
        @include mq($menu-breakpoint) {
            display: inline-block;
            border-bottom-color: $color-grey-darker;
            font-weight: bold;
            font-size: $font-size-small;

            a {
                color: #000;
            }
        }
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
}