.v-top-nav {
    @include mq($menu-breakpoint) {
        background-color: $color-grey;
    }

    &__menu {
        margin: 0;
        padding: 0;
        list-style: none;

        // Mobile
        @include mq($menu-breakpoint, max) {
            padding: 1rem 0;
            &--open {
                .v-top-nav__menu_link {
                    display: list-item;
                }
            }
        } 

        &.collapsing {
            -webkit-transition: none;
            transition: none;
            display: none;
        }
    }

    &__menu_link {
        color: $color-link;
        line-height: 2.5rem;
        font-size: $font-size-small;
        animation-name: fadeInLeft; // animate.css
        -webkit-animation-duration: .3s;
        animation-duration: .3s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        &:before {
            @extend %vpicon;
            @extend %vpicon__down;
            width: 1rem;
            font-size: .5rem;
            color: transparent;
            margin-right: .75rem;
            font-weight: bold;
            vertical-align: middle;
        }
        @include mq($menu-breakpoint) {
            display: inline-block;
            padding-left: 0;
            margin-right: 2.75rem;
            line-height: 3.5rem;
            font-size: $font-size;
            animation-name: none;
            &:before {
                content: none;
            }
        }
        &:last-child {
            margin-right: 0;
        }
        &--active {
            display: none;
            @include mq($menu-breakpoint) {
                display: inline-block;
                border-bottom: 2px solid $color-grey-darker;
                font-size: $font-size;
            }

            a {
                &:hover {
                    text-decoration: none;
                }
                @include mq($menu-breakpoint) {
                    color: #000;
                    font-weight: bold;
                }
            }
        }

        a:hover {
            text-decoration: none;
        }
    }

    &__accessibility {
        margin-left: 1rem;
        color: $color-link;
        &:hover {
            color: $color-link-hover;
        }

        i {
            display: inline-block;
            line-height: 3.5rem;
            font-size: 24px;
        }
    }

    &__mobile {
        position: relative;
        background-color: $color-grey;
        font-size: $font-size-small;
        line-height: 2.5rem;
        z-index: 1;

        @include mq($menu-breakpoint) {
            display: none;
        }

        a {
           &:hover {
               text-decoration: none;
           } 
        }
    }

    &__collapse-button {
        font-weight: bold;
        color: $font-color;
        &:hover {
            color: $font-color;
        }

        i {
            color: $color-orange;
            width: 1rem;
            font-size: .5rem;
            margin-right: .5rem;
            font-weight: bold;
            vertical-align: middle;
        }
    }
}