.v-site-nav {
    background-color: $color-primary;

    //Mobile
    @include mq($menu-breakpoint, max) {
        //full width
        margin: 0 -#{$padding-xs};
        padding: 1rem;
    }

    //Desktop
    @include mq($menu-breakpoint) {
        display: flex;
        position: relative;
        padding: 0 1rem;
        z-index: 10;
        flex-direction: row;
        justify-content: space-between;
    }

    @include mq($screen-max) {
        padding: 0 4rem;
    }

    &__item {
        //Mobile
        @include mq($menu-breakpoint, max) {
            position: relative;
            border-top: 1px solid rgba(255,255,255,.25);

            &--active {
                margin: 0 -1rem;
                padding: 0 1rem;
                background-color: white;
                transition: background-color .3s;

                .v-site-nav__sub-menu {
                    display: block;
                }

                .v-site-nav__sub-menu-toggle {
                    right: 1rem;
                    color: $color-orange !important;
                }
            }
        }

        //Desktop
        @include mq($menu-breakpoint) {
            text-align: center;
            line-height: 1.2;

            &--active {
                .v-site-nav__sub-menu {
                    display: block;
                }
            }
        }
    }

    &__sub-menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: white;
        pointer-events: none;

        i:before {
            line-height: 1rem;
            font-size: 10px;
            font-weight: 900;
        }

        @include mq($menu-breakpoint) {
            display: none;
        }
    }

    &__sub-menu-title {
        margin-bottom: 1.5rem;
        font-size: $font-size;
        font-family: $font-family-menu-link;
        font-weight: normal;

        @include mq($menu-breakpoint) {
            font-family: $font-family-2;
            font-weight: 500;
        }
    }

    &__login-btn {
        margin-top: 1.5rem;
        margin-bottom: 2.5rem;
    }
}

.v-site-nav__link {
    display: block;
    height: 100%;
    color: white;
    font-family: $font-family-menu-link;
    font-weight: normal;

    //preservers menu link layout
     br {
        display: none;
        @include mq($menu-breakpoint) {
            display: inline;
        }
    }

    // Mobile
    @include mq($menu-breakpoint, max) {
        padding: 1rem;
        padding-right: 2.5rem;
        &:hover {
            color: white;
            text-decoration: none;
        }

        .v-site-nav__item--active & {
            color: $font-color;
            text-decoration: none;
            border-bottom: 1px solid $color-grey-darker;
        }
    }

    // Desktop
    @include mq($menu-breakpoint) {
        padding: 1.5em;
        font-size: $font-size;
        transition: background-color .3s, color .3s;
        &:after {
            content: '';
            border-style: solid;
            border-width: 0 0 0 0;
            border-color: transparent;
        }
    
        &:hover {
            text-decoration: none;
            background-color: #000;
            color: #fff;
        }

        .v-site-nav__item--active & {
            position: relative;
            text-decoration: none;
            background-color: #000;
            color: #fff;

            &:after {
                content: '';
                display: inline-block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 15px 15px 0 15px;
                border-color: #000000 transparent transparent transparent;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(-15px);
                z-index: 11;
                transition: border-width .3s, border-color .3s;
            }
        }
    }

    @include mq($screen-max) {
        font-size: $font-size-2;
    }
}

.v-site-nav__sub-menu {
    display: none;
    
    //Mobile
    @include mq($menu-breakpoint, max) {
        .row > *:first-child > .v-site-nav__sub-menu-title:first-child {
            display: none;
        }
    }

    //Desktop
    @include mq($menu-breakpoint) {
        position: absolute;
        z-index: 10;
        left: 0;
        top: 100%;
        padding: 3rem;
        text-align: left;
        background-color: white;
        -webkit-box-shadow: 0px 7px 36px -10px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 7px 36px -10px rgba(0,0,0,0.75);
        box-shadow: 0px 7px 36px -10px rgba(0,0,0,0.75);
        animation-name: fadeInUp !important; //animate.css
    }

    &.animated {
        animation-duration: .3s;
    }
}
