.v-footer {
    padding: 4rem 0;
    background-color: $color-dark;
    color: white;

    a {
        color: $color-footer-link;
        &:hover {
            color: $color-orange;
        }
    }

    &__info {
        margin-bottom: 3rem;
        padding: 0;
        padding-left: $padding-xs;
        list-style: none;
        line-height: 1.75;
        font-size: $font-size-smaller;
        @include mq($screen-lg) {
            margin-bottom: 0;
            padding-left: $padding-lg;
        }
    }

    &__links-list {
        padding: 0;
        padding-left: $padding-xs;
        list-style: none;
        line-height: 1.75;
        font-size: $font-size-smaller;
        color: white;
        @include mq($screen-lg) {
            padding-left: $padding-lg;
        }
        &:last-child {
            margin-bottom: 3rem;
            @include mq($screen-lg) {
                margin-bottom: 0;
            }
        }

        i {
            display: inline-block;
            margin-right: 0.5rem;
            width: 2rem;
            text-align: center;
        }
    }
}

.v-footer-cta {
    padding-left: $padding-xs;
    @include mq($screen-lg) {
        padding-left: $padding-lg;
    }

    &__button {
        margin-bottom: 2.5rem;
        font-weight: bold;
        color: white !important;
        &:hover {
            color: $color-primary-hover !important;
        }
        &--outline {
            border: 2px solid;
            color: $color-grey-darker;
        }

        i {
            font-size: $font-size-small;
            margin-left: .5rem;
        }
    }

    .v-link {
        font-size: $font-size-smaller;
    }
}