.v-accordion {
    text-align: left;
    font-weight: normal;

    &__item {
        margin: .75rem 0;

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__btn-group {
        margin-bottom: 1.5rem;
    }

    &__btn {
        display: flex;
        width: 100%;
        font-weight: normal !important;
        text-align: left;
        border-radius: 0 !important;
        white-space: normal !important;

        &:not(.collapsed),
        &:not(.collapsed):hover {
            i {
                color: $color-orange;
            }
        }
    }

    &__collapse-wrap {
        padding: 1rem;
        font-size: $font-size-smaller;
    }
}

.v-accordion__btn-icon {
    @extend %vpicon;
    font-size: .65rem;
    font-weight: bold;
    margin-right: .75rem;
    line-height: 2.75;

    &:after {
        @extend %vpicon__up;
    }

    .v-accordion__btn.collapsed &:after {
        @extend %vpicon__down;
    }
}