.v-info-combo {
    margin-bottom: 1.5rem;
    .v-main-card &:last-child {
        margin-bottom: 0;
    }

    p {
        margin-bottom: .25rem;
    }

    &__image {
        margin-bottom: 1rem;
    }

    &__lead {
        font-size: $font-size-3;
        color: $color-orange;
        font-weight: bold;
    }
}
