.v-search {
    &__header { // Input and filter
        input[type="text"] {
            height: auto;
            border: 2px solid #E0E3E6;
            @include mq($screen-sm) {
                padding: 0 0 0 1rem;
                line-height: 3.2rem;
                border-radius: 4px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: 0;
                min-width: 20rem;
            }
        }
        .btn-lg {
            margin-top: .5rem;
            padding: .5rem 1rem;
            border-radius: 4px;
            @include mq($screen-sm) {
                padding: 0.8rem 1.5rem;
                margin-top: 0;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        .form-group {
            flex-basis: 100%;
            + .form-group {
                margin-top: 1rem;
            }
        }
        .form-check {
            margin-right: 1rem;
            font-size: $font-size-small;
        }
    }

    &__category {
        margin-top: 2rem;
        li {
            margin-right: 2rem;
            flex-basis: 100%;

            @include mq($menu-breakpoint) {
                flex-basis: auto;
            }
        }

        &--active,
        &--active a {
            color: $color-orange;
        }
    }

    &__list {
        margin: 1rem 0;
    }

    &__list-item {
        padding: 1rem 0;
        &:not(:last-child) {
            border-bottom: 2px solid $color-grey;
        }
    }

    &__teaser-title {
        margin: .25rem 0;

        a {
            padding-right: .5rem;
        }
    }

    &__teaser-date {
        display: inline-block;
        font-size: $font-size-small;
        vertical-align: middle;
        color: $color-dark-1;
        &:before {
            content: '|';
            margin-right: .5rem;
        }
    }

    &__teaser-content {
        font-size: $font-size-smaller;
        margin-bottom: 0;
    }
}