#v-scroll-to-top {
    position: relative;
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $color-primary;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: background-color .3s, transform .3s, border-color .3s;
    transform: translateX(100px);
    &:hover {
        background-color:white;
        border-color: $color-primary;
        a {
            color: $color-primary;
        }
    }

    a {
        display: block;
        color: #fff;
        transition: color .3s;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        i {
            line-height: 2.75rem !important;
        }
    }

    &.reveal {
        transform: translateX(0);
    }
}