.v-section {
    padding: 1.25rem 0;
    // Mobile - remove last card margin, so spacer are even
    @include mq($menu-breakpoint, max) {
        div[class^="col"]:last-child .v-main-card:last-child {
            margin-bottom: 0;
        }
    }

    @include mq($screen-md) {
        padding: $padding-md 0;
    }
    @include mq($menu-breakpoint) {
        padding: 3.75rem 0;
    }

    &--light {
        background-color: #fff;
    }
    &--grey {
        background-color: $color-grey;
    }
    &--w-padding .row {
        padding: 0 $padding-xs;
        @include mq($screen-md) {
            padding: 0 $padding-md;
        }
        @include mq($screen-lg) {
            padding: 0 $padding-lg;
        }
    }

    &__title {
        margin-bottom: 4rem;
        font-size: 36px;
        font-weight: 300;
    }

    .v-main > &:first-child {
        @include mq($menu-breakpoint) {
            padding-top: 7rem;
        }
    }
}