.v-tabs {
	margin-bottom: 2rem;

	.tab-content {
		padding-top: 1.5rem;
		font-size: $font-size-smaller;
	}

    &--vertical {
		@include mq($screen-sm) {
			display: -webkit-box!important;
			display: -webkit-flex!important;
			display: -ms-flexbox!important;
			display: flex!important;
			-webkit-box-orient: horizontal!important;
			-webkit-box-direction: normal!important;
			-webkit-flex-direction: row!important;
			-ms-flex-direction: row!important;
			flex-direction: row!important;
		}
        
		.tab-content {
			@include mq($screen-sm) {
				padding-top: 0;
			}
		}
	}
}

.nav-tabs {
	background-color: $color-primary;
	border-bottom: 0;

	.nav-item {
		margin-bottom: .5rem;
		width: 100%;
		&:first-child {
			margin-top: .5rem;
		}
		@include mq($screen-sm) {
			width: auto;
			margin-bottom: 0;
			margin-right: .5rem;
			&:first-child {
				margin-top: 0;
				margin-left: .5rem;
			}
		}
	}

	.nav-link {
		position: relative;
		padding: .75rem 1.5rem;
		color: #fff;
		font-family: $font-family-menu-link;
		border-color: transparent !important;
		border-radius: 0 !important;
		transition: background-color .3s;
		&:hover {
			background-color: #000;
		}
		&:after {
			content: '';
			border-width: 0;
			border-color: transparent;
		}
		&.active {
			background-color: #000;
			color: #fff;
			@include mq($screen-sm) {
				&:after {
					content: '';
					display: inline-block;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 15px 15px 0 15px;
					border-color: #000000 transparent transparent transparent;
					position: absolute;
					top: 100%;
					left: 50%;
					transform: translateX(-15px);
					z-index: 1;
					transition: border-width .3s, border-color .3s;
				}
			}
		}
	}

	&--vertical {
		background-color: transparent;
		border-bottom: none;
		display: flex;
		flex-flow: column nowrap;
		@include mq($screen-sm) {
			min-width: 25%;
			margin-right: 2.5rem;
		}
        
		.nav-item {
			margin: 0;
			border-bottom: .5rem solid $color-primary;
			&:first-child {
				margin: 0;
				border-top: .5rem solid $color-primary;
			}
		}
		
		.nav-link {
			transition: background-color .3s;
			background-color: $color-primary;

			&.active {
				&:after {
					top: 50%;
					left: 100%;
					border-width: 15px 0 15px 15px;
					border-color: transparent transparent transparent #000000;
					-webkit-transform: translateX(0);
					transform: translateX(0);
					-webkit-transform: translateY(-15px);
    				transform: translateY(-15px);
				}
			}
		}
	}
}