.v-header-middle {
    // Mobile only
    // to position open menu indicator triangles 
    @include mq($menu-breakpoint, max) {
        position: relative;

        .col,
        .col-auto {
            position: static;
        }
    }

    &__wrap {
        padding: 1.25rem 0;
        border-top: 1px solid $color-light-5;
        border-bottom: 1px solid $color-light-5;
        margin: -2px 0;

        @include mq($screen-sm) {
            padding: 2rem 0;
        }

        @include mq($menu-breakpoint) {
            border: none;
            margin: 0;
        }
    }
}