.v-breadcrumb {
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    font-size: $font-size-small;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    @include mq($menu-breakpoint) {
        margin-top: 0;
    }

    .breadcrumb-item {
        padding-right: .75rem;

        + .breadcrumb-item {
            padding-left: 0;
            &:before {
                display: inline-block;
                padding-right: .75rem;
                color: #6c757d;
                content: "/";
            }
        }
    }
    }