/* => Fonts
/* ------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,500,700,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500');

/* => Settings
/* ------------------------------------------------------------------------------*/

$font-family: 'roboto', sans-serif;
$font-family-2: 'Fira Sans', sans-serif;
$font-family-menu-link: 'Roboto Condensed', sans-serif;;
$font-size-small: 14px !default;
$font-size-smaller: 16px !default;
$font-size: 18px !default;
$font-size-2: 20px !default;
$font-size-3: 24px !default;
$font-size-4: 36px !default;
$font-size-5: 48px !default;
$font-size-6: 56px !default;
$line-height: 1.5 !default;
$font-color: #222222 !default;

/* => Colors
/* ------------------------------------------------------------------------------*/

$color-primary: #006FB3 !default;
$color-primary-hover: #0061b1 !default;
$color-light-1: #e6e6e6 !default;
/*$color-light-2: #dbdbdb !default;
$color-light-3: #e7e7e7 !default;
$color-light-4: #fafafa !default;*/
$color-light-5: #b0b0b0 !default;
$color-light-blue: #EBF9FA !default;
$color-grey: #F5F5F7 !default;
$color-grey-darker: #CCCCCC !default;
$color-grey-dark: #737373 !default;
$color-dark: #2D2D2D !default;
$color-dark-1: #767676 !default;
$color-orange: #FF4800 !default;
/*$hover-dark:#024c89!default;
$hover-dark-1:#228ad8!default;
$hover-light:#a0d0f6!default;
$hover-icon: #eff9fc!default;*/
$color-link: $color-primary !default;
$color-link-hover: $color-orange !default;
$color-footer-link: $color-light-1 !default;
$color-footer-link-hover: $color-link-hover !default;

/* => Breakpoints
/* ------------------------------------------------------------------------------*/

$container-sm: 576px;
$container-md: 768px;
$container-lg: 992px;
$container-max: 1200px;
$screen-sm: $container-sm;
$screen-md: $container-md;
$screen-lg: $container-lg;
$screen-max: $container-max;

$menu-breakpoint: $screen-lg;
/* => Spacings
/* ------------------------------------------------------------------------------*/
$padding-xs: 1.25rem;
$padding-md: 2rem;
$padding-lg: 2.5rem;
$padding-xl: 5rem;

/* => Main
/* ------------------------------------------------------------------------------*/

html, 
body {
    width: 100%;
}

body {
    font-family: $font-family; 
    font-size: $font-size;
    line-height: $line-height;
    color: $font-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    color: $color-link;
    &:hover {
        color: $color-link-hover;
        text-decoration: none;
    }
}

/* => Typography
/* ------------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-2;
    font-weight: 500;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}

/* => Bootstrap overrides
/* ------------------------------------------------------------------------------*/
.badge-primary {
    background-color: $color-primary;
}