.container {
    max-width: 1320px !important;
}

.carousel-control-prev {
    width: 4rem;
    right: 100%;
    left: auto;
}

.carousel-control-prev-icon {
    height: 4rem;
    width: 2rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12px' height='22px' viewBox='0 0 12 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eleft%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Artboard' transform='translate(-527.000000, -101.000000)' fill-rule='nonzero' fill='#006FB3'%3e%3cpolygon id='left' transform='translate(538.250000, 112.250000) rotate(135.000000) translate(-538.250000, -112.250000) ' points='530.928932 118.571068 530.928932 119.571068 545.571068 119.571068 545.571068 104.928932 544.571068 104.928932 544.571068 118.571068'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: cover;
}

.carousel-control-next {
    width: 4rem;
    right: auto;
    left: 100%;
}

.carousel-control-next-icon {
    height: 4rem;
    width: 2rem;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='36px' height='66px' viewBox='0 0 12 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch --%3e%3ctitle%3eright%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cdefs%3e%3c/defs%3e%3cg id='icons' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Artboard' transform='translate(-582.000000, -101.000000)' fill-rule='nonzero' fill='#006FB3'%3e%3cpolygon id='right' transform='translate(583.250000, 112.250000) rotate(-45.000000) translate(-583.250000, -112.250000) ' points='575.928932 118.571068 575.928932 119.571068 590.571068 119.571068 590.571068 104.928932 589.571068 104.928932 589.571068 118.571068'%3e%3c/polygon%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
    background-size: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    margin-top: -10rem; 
}

.navbar-collapse {
    z-index: 2;
    position: relative;
}